name: dev

on:
  push:
    branches:
      - master
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests for Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    strategy:
      matrix:
        node-version: [20, 22, 24]

    steps:
      - name: Clone repository
        uses: actions/checkout@v6.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - run: node --version
      - run: npm --version

      - name: Install npm dependencies
        run: npm ci

      - name: Run tests
        run: npm test
